<!-- <h1 setBackground> This is App Component </h1> -->
<div class="container" setBackground appHover>
  <p> This is a demo HTML to Custom Attribute </p>
</div>

<div appHighlight appHover>
  <p> This is a demo to @HostListener </p>
</div>

<div class="container" appBetterhighlight [defaultColor]="'pink'" [hightlightColor]="'yellow'">
  <p> This is a demo to @HostBinding </p>
</div>

<div appClass [display]="{container: true, 'change-font': true }">
  <p> This is a demo to create custom ngCClass Directive </p>
</div>


<!-- setBackGround -->