<!-- <h1 setBackground> This is App Component </h1> -->
<div class="container" setBackground appHover>
  <p> This is a demo HTML to Custom Attribute </p>
</div>

<div appHighlight appHover>
  <p> This is a demo to @HostListener </p>
</div>

<div class="container" appBetterhighlight [defaultColor]="'pink'" [hightlightColor]="'yellow'">
  <p> This is a demo to @HostBinding </p>
</div>

<div appClass [display]="{container: true, 'change-font': true }">
  <p> This is a demo to create custom ngClass Directive </p>
</div>

<div class="container" appStyle [setStyle]="{backgroundColor: active ? 'Green' : 'Red', color: 'white', fontWeight: 'bold'}">
  <p> This is a demo to create custom ngStyle Directive </p>
</div>

<!-- Structural Directive -->
<button class="btn btn-notice" (click)="displayNotice()">
  Show Notice
</button>
<div class="info-container notice" *appIf="display">
  <h3> This is important Notice! </h3>
  <p> This is the notice issued for all website users. </p>
</div>

<!-- ngSwitch Directive -->
<div class="container" [ngSwitch]="occupation">
  <p *ngSwitchCase="'teacher'"> This paragraph is displayed when the occupation is Teacher </p>
  <p *ngSwitchCase="'designer'"> This paragraph is displayed when the occupation is Designer </p>
  <p *ngSwitchCase="'lawyer'"> This paragraph is displayed when the occupation is Lawyer </p>
  <p *ngSwitchDefault> This paragraph is default and will be displayed if no case matches switch expression </p>
</div>